<div class="articles">
  <h1 class="main-heading"><%= @article.title %></h1>

  <div class="articles-showpg-contwrap">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <div class="text-center mb-5">
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-success" %>
        <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      </div>
    <% end %>

    <%= simple_format(@article.description) %>

    <p class="mt-2">
      Categories:
      <% if @article.categories.any? %>
        <span><%= render @article.categories %></span>
      <% end %>
    </p>
    <hr>

    <div class="row articles-showpg-descsmall">
      <div class="col-6">
        Edited by <%= @article.user.username if @article.user %>
      </div>
      <div class="col-6 text-right">
        Created <%= time_ago_in_words(@article.created_at) %> ago
        <% unless @article.created_at == @article.updated_at %>
        , Updated <%= time_ago_in_words(@article.updated_at) %> ago
        <% end %>
      </div>
    </div>
  </div>
</div>
