<header class="header">
  <nav class="header-navbar navbar navbar-expand-lg navbar-light">
    <%= link_to "EMRUAZABLOG", root_path, class: "header-navbar-brand navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="header-navbar-ul navbar-nav ml-auto">
        <li class="header-nav-item nav-item"><%= active_links("Articles", articles_path, "header-nav-link") %></li>
        <% if logged_in? %>
          <li class="header-nav-item nav-item"><%= active_links("Members", users_path, "header-nav-link") %></li>
          <li class="header-nav-item nav-item"><%= link_to "Logout", logout_path, class: "header-nav-link", method: :delete %></li>
        <% else %>
          <li class="header-nav-item nav-item"><%= link_to "Login", login_path, class: "header-nav-link header-nav-link-login btn-blue" %></li>
          <li class="header-nav-item nav-item"><%= link_to "Signup", signup_path, class: "header-nav-link header-nav-link-signup btn-red" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
