<!DOCTYPE html>
<html>
  <head>
    <title>Blog Exercises</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', "#{params["controller"]}", "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/navigation' %>
    <div id="page-content" class="main-container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
